@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    ViewBag.TopImage = "/Content/img/about-banner.jpg";
    ViewBag.Headline = "Error";
    ViewBag.SubHeadline = "something went wrong";
}

<div class="wrapper-600">
    <div class="container py-5">
        <h5>Error</h5>
        <p>An error occurred while processing your request. Please try again later.</p>
    </div>
</div>