@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Not Found";
}

<div class="wrapper-600">
    <div class="container py-5">
        <img src="~/Content/img/404-img.jpg" alt="" class="w-100 d-block mb-4" />
        <h5>The page that you have requested could not be found.</h5>
        <p>Perhaps you are here because:</p>
        <ul>
            <li>The page was moved</li>
            <li>The page no longer exists</li>
            <li>You were looking for your puppy and got lost</li>
            <li>You like 404 pages</li>
        </ul>
    </div>
</div>